h1,h2,h3{margin-left:40px;font-size:40px;text-align:center}p,strong{font-family:"Times New Roman",Times,serif;text-align:justify}a:visited,h3{color:red}a:active,a:hover{text-decoration:none}a:active,h2{color:green}body{background-color:#d3d3d3}h1{color:maroon}strong{font-size:18px!important}ul{list-style-type:square;margin-left:50px}p{font-size:20px}.ex{border-style:groove;margin:10px 30px}a:link{color:#00f}a:hover{color:#ff69b4}div{background-color:linen;width:1000px;padding:20px;border:25px solid navy;margin:20px}
