<br/><br/><br/><br/><br/>
<strong>¿Por qué es una buena práctica separar el modelo del controlador?.</strong>
<p>
    Es buena practica separar el modelo del controlador ya que el modelo se debe solamente encargar del manejo de los datos y el controlador de solo manejar las solicitudes de vista. Si estuvieran mezclados y hubiera algun error, podria afectar a la estructura de la base de datos. Sin mencionar que la separacion puede reducir el tamaño del codigo.
</p>
</div>


</body>
</html>