<form action="search.php" class="search-wrapper cf">
    <div class="row">
        <div class="col-xs-6 col-sm-3">
            <div class="select-wrapper">
                <select name="compraRenta" id="compraRenta">
                    <option value="">- Comprar o Rentar -</option>
					<option value="0">Comprar</option>
					<option value="1">Rentar</option>
				</select>
			</div>
        </div>
        <div class="col-xs-6 col-sm-3">
            <div class="select-wrapper">
                <select name="selecInmueble" id="selecInmueble">
                    <option value="">- Tipo de Inmueble -</option>
					<option value="1">Casa</option>
					<option value="2">Departamento</option>
					<option value="3">Oficina</option>
					<option value="4">Terreno</option>
					<option value="5">Comercial</option>
					<option value="6">Industrial</option>
					<option value="7">Agrícola</option>
					<option value="8">Loteo</option>
					<option value="9">Bodega</option>
					<option value="10">Parcela</option>
					<option value="11">Estacionamiento</option>
					<option value="12">Terreno Construcción</option>
				</select>
			</div>
        </div>
		<div class="col-md-4">
            <input type="text" placeholder="Ingresa colonia, municipio o estado" required="">
        </div>
        <div class=".col-md-4">
            <button type="submit" class="medium">Buscar</button>
        </div>
    </div>
</form>