<form action="search.php" class="search-wrapper cf">
    <div class="row">
    	<div class="col-xs-6 col-sm-3"></div>
        <div class="col-xs-6 col-sm-3">
            <div class="select-wrapper">
                <select name="selecBusqueda" id="selecBusqueda" required="">
                    <option value="">- Busqueda por -</option>
					<option value="1">Usuario</option>
					<option value="2">Correo</option>
					<option value="3">ID</option>
				</select>
			</div>
        </div>
		<div class="col-md-4">
            <input type="text" placeholder="Buscar" required="">
        </div>
        <div class=".col-md-4">
            <button type="submit" class="medium">Buscar</button>
        </div>
    </div>
</form>
