<header id="header">
	<div class="inner">
		
	<!-- Nav -->
		<nav  style= "background-color:white;">
			<br/><br/>
			<div class = "container"><?php include_once('_formSearch.html'); ?></div>
			<?php include_once('_navList.php'); ?>
			<ul>
			<!-- Logo -->
				<div class = "container">
					<a href="index.php" class="logo">
						<span class="symbol"><img src="images/logo.svg" alt="" /></span><span class="title">Inmuebles</span>
					</a>
				</div>
			</ul>
		</nav>
	</div>
</header>