<nav id="menu">
	<h2>Menu</h2>
	<ul>
		<li><a href="index.php">Home</a></li>
		<li><a href="generic.php">Editar Perfil</a></li>
		<li><a href="myProperties.php">Mis Propiedades</a></li>
		<li><a href="adminDB.php">Base de Datos</a></li>
		<li><a href="logout.php">Log Out</a></li>
		</ul>
</nav>