<section>
    <div class="table-wrapper">
        <table class ="alt">
            <thead>
                <tr>
                    <th>
                        ID
                    </th>
                    <th>
                        Locación de Propiedad
                    </th>
                    <th>
                        Usuario
                    </th>
                    <th>
                        Mail
                    </th>
                    <th>
                        Eliminar
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        Código: 99972
                    </td>
                    <td>
                        Juriquilla
                    </td>
                    <td>
                        Pepé
                    </td>
                    <td>
                        pepe92@gmail.com
                    </td>
                    <td>
                        Eliminar propiedad
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</section>