<?php include('_header.html'); ?>
	
		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header Navegador -->
					<?php include_once('_headerNAV.html'); ?>

				<!-- Menu -->
					<?php include_once('_menu.html'); ?>

				<!-- Main -->
					<div id="main">
						<div class="inner">
							<header>
								<h1>Busca información dentro de la base de datos.</h1>
							</header>
							<br/><br/>
							<?php include('_formAdminSearch.html'); ?>
							<?php include('_navPagination.html'); ?>
							<br/><br/><br/><br/>
							<?php include('_tableAdminDB.html'); ?>
							<?php include('_navPagination.html'); ?>
						</div>
					</div>
				<!-- Footer -->
				<?php include('_footer.html'); ?>

			</div>
<!-- Scipts and ending of html -->
<?php include('_scripts.html'); ?>