

<?php include('_header.html'); ?>
		<!-- Wrapper -->
			<div id="wrapper">
			
				<!-- Header Navegador -->
					<?php include_once('_headerNAV2.html'); ?>
				<!-- Menu -->
					<?php include_once('_menu.html'); ?>

	
			<!-- Main -->
				
					<div id="main">
						<div>
						<div class="inner">
							<span class="image main" ><img src="images/pic13.jpg" alt="" /></span>
						</div>
								<!-- Image -->
								<section>
									<div class="box alt">
										<div class="row uniform" style="margin-left: 30px;">
											<div class="8u"><span class="image fit"><img src="images/pic01.jpg" alt="" /></span></div>
											<div class="4u"><p class="alt">Imágenes</p></div>
											<div class="1u">
												<section class="tiles">
													<article class="style2">
														<span class="image"><a href="generic.php"><img src="images/pic01.jpg" alt="" /></a></span>
													</article>
												</section>
											</div>
											<div class="1u">
												<section class="tiles">
													<article class="style2">
														<span class="image"><a href="generic.php"><img src="images/pic01.jpg" alt="" /></a></span>
													</article>
												</section>	
											</div>
											<div class="1u">
												<section class="tiles">
													<article class="style2">
														<span class="image"><a href="generic.php"><img src="images/pic01.jpg" alt="" /></a></span>
													</article>
												</section>	
											</div>
											<div class="1u" style="margin-left: 1px;">
												<section class="tiles">
													<article class="style2">
														<span class="image"><a href="generic.php"><img src="images/pic01.jpg" alt="" /></a></span>
													</article>
												</section>
											</div>
											<div class="1u">
												<section class="tiles">
													<article class="style2">
														<span class="image"><a href="generic.php"><img src="images/pic01.jpg" alt="" /></a></span>
													</article>
												</section>	
											</div>
											<div class="1u">
												<section class="tiles">
													<article>
														<span class="image"><a href="generic.php"><img src="images/pic16.gif" alt="" /></a></span>
													</article>
												</section>
											</div>
											<div class="4u"><p class="alt">Casa Muestra</p></div>
											<div class="1u">
												<section class="tiles">
													<article class="style2">
														<span class="image"><a href="generic.php"><img src="images/pic01.jpg" alt="" /></a></span>
													</article>
												</section>
											</div>
											<div class="1u">
												<section class="tiles">
													<article class="style2">
														<span class="image"><a href="generic.php"><img src="images/pic01.jpg" alt="" /></a></span>
													</article>
												</section>	
											</div>
											<div class="1u">
												<section class="tiles">
													<article>
														<span class="image"><a href="generic.php"><img src="images/pic16.gif" alt="" /></a></span>
													</article>
												</section>	
											</div>
										</div>
									</div>
								</section>
							<!-- Facebook Share -->
							<div id="fb-root"></div>
							<p class ="alt"style="margin-left: 30px; ">Comparte este inmueble en facebook.</p>
							
									<!-- Your share button code -->
									<div class="fb-share-button" 
										data-href="https://yiteam-a01202421-daw.c9users.io/Proyecto2/Version_2.3/generic.php"
										data-mobile_iframe="true"
										data-layout="button_count" style="margin-left: 30px;">
									</div>
									<br/>
									<br/>
							<!-- Ubicación -->
							<div class="col-md-6">
								<table class="table table-bordered">
									<thead><tr>
										<th>
										<section style="margin-left: 30px; font-weight:normal;">
											<h3>Ubicación</h3>
											<br/>
											<p>hola</p>
										</section>	
										</th>
									</tr></thead>
								</table>
							</div>
							
							<!--GoogleMaps-->
							
					       
							<div id="googleMap" style="width:500px;height:380px;"></div>
								<section style="margin-left: 30px;">
									<dl>
							<!-- Descripción -->
  										<dt><h3>Descripción</h3></dt>
  										<dd>Hola</dd>
  										<br/>
  							<!-- Principales Características -->
  										<dt><p class="alt">Principales Características</p></dt>
  										<dd>Hola</dd>
									</dl>
									
								</section>
							
						</div>
					</div>
					<br/>
					<br/>
					<br/>
					<br/>
					<br/>

				<!-- Footer -->
					<?php include_once('_footer.html'); ?>

			</div>
<!-- Scipts and ending of html -->
<?php include('_scripts.html'); ?>