<?php include('_header.html'); ?>
	
		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header Navegador -->
					<?php include_once('_headerNAV.html'); ?>

				<!-- Menu -->
					<?php include_once('_menu.html'); ?>

				<!-- Main -->
					<div id="main">
						<div class="inner">
							<header>
								<?php include_once('_formSearch.html'); ?>
								<h1>Busca Inmuebles en México.</h1>
							</header>
							<span class="image main" ><img src="images/pic13.jpg" alt="" /></span>
							<p class="alt">¡Encuentra las mejores propiedades y/o publica las tuyas!</p>
						</div>
					</div>
				<!-- Footer -->
				<?php include('_footer.html'); ?>

			</div>
<!-- Scipts and ending of html -->
<?php include('_scripts.html'); ?>