      <!--Import jQuery before materialize.js-->
      <script type="text/javascript" src="js/ajax.js"></script>
      <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>
      <br/><br/><br/><br/><br/>
      <strong>¿A qué se refiere la descentralización de servicios web?.</strong>
      <p>
          Se refiere a que un servicio web puede ser desplegado en muchos lugares, lo que contribuye a la tolerancia a fallos en cuanto a la disponibilidad de los métodos WS, cuando un servidor está caído.
      </p>
      <strong>¿Cómo puede implementarse un entorno con servicios web disponibles aún cuando falle un servidor?</strong>
      <p>
          Creas una detección automática. A traves de esta, un error en el servidor primario puede ser detectado y el tráfico será enviado automáticamente a un servidor de copia de seguridad.
      </p>
      
      <p>Fuentes: </p>
        <ul>
            <li>
                [1] <a href="http://www.hipertexto.info/documentos/serv_web.htm">http://www.hipertexto.info/documentos/serv_web.htm</a>
            </li>
            <li>
                 [2] Presentación de powerpoint de la clase
            </li>
            <li>
                [3] <a href="http://www.howto-expert.com/how-to-create-a-server-failover-solution/">http://www.howto-expert.com/how-to-create-a-server-failover-solution/</a>
            </li>
       </ul>
       <?php die(); ?>
    </body>
  </html>