<p>
    Update is done by the name of the fruit ONLY!!
</p>
<form action="updateFruit.php" method="POST">
    <label>Fruit Name: </label>
    <input type="text" name="nameFruit" placeholder="durazno"/>
    <br />
    <label>Units: </label>
    <input type="text" name="unitsFruit" placeholder="2"/>
    <br />
    <label>Quantity: </label>
    <input type="text" name="quantityFruit"/>
    <br />
    <label>Price: </label>
    <input type="text" name="priceFruit" placeholder="13.23"/>
    <br />
    <label>Country: </label>
    <input type="text" name="countryFruit" placeholder="Alemania"/>
    <br />
    <input type="submit" name="submit" value="Update"/>
</form>