<p>
    AJAX with database using library JQuery.
</p>
<form>
    <select name="selFruits" onchange="showFruit(this.value)" style="display:inline;">
    <option value="">Select a fruit:</option>
    <option value="manzana">manzana</option>
    <option value="platano">platano</option>
    <option value="Sandia">sandia</option>
    <option value="durazno">durazno</option>
    </select>
</form>
    <br>
<div id="txtHint"><b>Fruit information will be listed here.</b></div>
<p>
    Insert a fruit in the database
</p>
<form action="insertFruit.php" method="POST">
    <label>Fruit Name: </label>
    <input type="text" name="nameFruit" placeholder="durazno"/>
    <br />
    <label>Units: </label>
    <input type="text" name="unitsFruit" placeholder="2"/>
    <br />
    <label>Quantity: </label>
    <input type="text" name="quantityFruit"/>
    <br />
    <label>Price: </label>
    <input type="text" name="priceFruit" placeholder="13.23"/>
    <br />
    <label>Country: </label>
    <input type="text" name="countryFruit" placeholder="Alemania"/>
    <br />
    <input type="submit" name="submit" value="Insert"/>
</form>
<p>
    Delete a fruit from the database.
</p>
<form action="deleteFruit.php" method="POST">
    <label>Fruit Name: </label>
    <input type="text" name="nameFruit" placeholder="Durazno"/>
    <br />
    <input type="submit" name="submit" value="Delete"/>
</form>
<p>
    Want to update a fruit in the database, then click the next button.
</p>
<form action="update.php" method="POST">
    <br />
    <input type="submit" name="submit" value="Update"/>
</form>