<?php include('_header.html');?>
<?php include("silex.php"); ?>
<h1>Sugerencia de frutas</h1>
<div class="container">
    <input type="text" id="userInput" name="userInput" onkeyup="sendRequest()" />
    <div id="ajaxResponse"></div>
</div>
<?php include('_view.html'); ?>
<?php include('_footer.html'); ?>