<?php include_once("_header.html"); ?>
<form action="logout.php" method="POST">
    <input type="submit" name="submit" value="Log Out"/>
</form>
<div class="container">
<?php echo "El area del cilindro es de $area metros cuadrados."; ?>
<p>Ahora escoge una imagen a subir.</p>
<?php include_once("_formUpload.html"); ?>
</div>
<?php include_once("_footer.html"); ?>