<strong>¿Por qué es importante hacer un session_unset() y luego un session_destroy()?</strong>
<p>
   Es importante hacer un session_unset() porque este libera todas las variables de sesion que actualmente esten registradas. Por otra parte el session_destroy() destruye toda la informacion asociada con la sesion actual excepto las variables globales. Se utiliza un comando despues del otro debido a que el session_unset() y el session_destroy() se compensan uno al otro.
</p>

<strong>¿Cuál es la diferencia entre una variable de sesión y una cookie?</strong>
<p>
    La diferencia es que las variables de sesion se pierden al cerrar el buscador que se este usando. Por otra parte las cookies son capaces de guardar informacion en el buscador del usuario lo que previene que la informacion se pierda aunque el buscador se alla cerrado.
</p>

<strong>¿Qué técnicas se utilizan en sitios como facebook para que el usuario no sobreescriba sus fotos en el sistema de archivos cuando sube una foto con el mismo nombre?</strong>
<p>
   Las tecnicas que utilizan este tipo de sitios es darles un id/nombre unico a cada foto que suba el usuario. Esto lo hacen mediante una serie de numeros unicos lo cual le permite a los usuarios que suban varias fotos con el mismo nombre ya que el sistema en si tendra un nombre unico para cada foto.
</p>

</div>
<div>
    <footer>
        <p>Fuentes: </p>
        <ul>
            <li>
                [1] <a href="http://php.net/manual/es/function.session-destroy.php">http://php.net/manual/es/function.session-destroy.php</a>
            </li>
            <li>
                 [2] <a href="http://php.net/manual/es/function.session-unset.php">http://php.net/manual/es/function.session-unset.php</a>
            </li>
            <li>
                 [3] <a href="http://laraveles.com/foro/viewtopic.php?id=2767">http://laraveles.com/foro/viewtopic.php?id=2767</a>
            </li>
        </ul>
    </footer>
</div>


</body>
</html>