<p>
    Introduce los datos para calcular el Area de un cilindro. Nota podras subir una foto despues de calcular el area del cilindro.
</p>
<form action="cilindro.php" method="POST">
    <label>Radio: </label>
    <input type="text" name="radio" placeholder="0.245"/> metros
    <br />
    <label>Altura: </label>
    <input type="text" name="altura" placeholder="1.34"/> metros
    <br />
    <input type="submit" name="submit" value="Calcular"/>
</form>