<form action="index.php" method="POST">
    <?php
        if (($_SERVER['REQUEST_METHOD']==='POST')&&empty($_POST["name"])):
            echo "Nombre es obligatorio.".'<br>';
        endif;
    ?>
    <label>Name: </label>
    <input type="text" name="name"/>
    <br />
    <?php
        if (($_SERVER['REQUEST_METHOD']==='POST')&&empty($_POST["pass"])):
            echo "Password es obligatorio.".'<br>';
        endif;
    ?>
    <label>Password: </label>
    <input type="password" name="pass"/>
    <br />
    <input type="submit" name="submit" value="Log In"/>
</form>