<?php
    include_once("_header.html");
?>
<div class="container">
<?php
    if(isset($_SESSION["error"])):
?>
<h2>Hubo errores al contestar las preguntas lo cual causo que se cerrara tu sesion.</h2>
<?php
    unset($_SESSION["error"]);
?>
<?php
    endif;
?>
<?php
   if(empty($_POST["name"])||empty($_POST["pass"])):
?>
    <h1>Log In como Usuario</h1>
    <?php
        include("_form.html");
    ?>
<?php
    elseif(isset($_SESSION["name"])):
?>
    <h1>Bienvenido
    <?php
        echo  $_SESSION["name"]
    ?></h1>
    <?php
        include("_formAreaC.html");
    ?>
<?php
else:
?>
    <h1>Log In como Usuario</h1>
    <?php
        include("_form.html");
    ?>
<?php
endif;
?>
</div>
<?php
    include_once("_footer.html");
?>