      <!--Import jQuery before materialize.js-->
      <script type="text/javascript" src="js/ajax.js"></script>
      <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>
      <br/><br/><br/><br/><br/>
      <strong>¿Qué importancia tiene AJAX en el desarrollo de RIA's (Rich Internet Applications?.</strong>
      <p>
            El AJAX es parte fundamental de la operacion de sitios interactivos y aplicaciones Web. El RIA utiliza el AJAX añ hacer uso de solicitudes asincronas que no buscan estar refrescando la pantalla.
      </p>
      <strong>¿Qué implicaciones de seguridad tiene AJAX? ¿Dónde se deben hacer las validaciones de seguridad, del lado del cliente o del lado del servidor?</strong>
      <p>
            Las implicaciones de seguridad de AJAX se encuentran en el procesamento de formas y en la realizacion de solicitudes. Las validaciones de seguridad se realizan del lado del servidor.
      </p>
      <strong>¿Qué es JSON?</strong>
      <p>
            JavaScript Object Notation - Notación de Objetos de JavaScript es un formato ligero de intercambio de datos. [3]
      </p>
      
      <p>Fuentes: </p>
        <ul>
            <li>
                [1] <a href="http://www.expresionbinaria.com/seguridad-en-ajax/">http://www.expresionbinaria.com/seguridad-en-ajax/</a>
            </li>
            <li>
                 [2] <a href="http://www.cerosecurity.com/category/ajax/">http://www.cerosecurity.com/category/ajax/</a>
            </li>
            <li>
                 [2] <a href="http://www.json.org/json-es.html">http://www.json.org/json-es.html</a>
            </li>
       </ul>
    </body>
  </html>