<?php include('_header.html'); ?>
<h1>Sugerencia de frutas</h1>
<p>Se utilizo ActiveXObject de la libreria jQuery</p>
<div class="container">
    <input type="text" id="userInput" name="userInput" onkeyup="sendRequest()" />
    <div id="ajaxResponse"></div>
</div>
<?php include('_view.html'); ?>
<?php include('_footer.html'); ?>